<div class="container-fluid h-100">
  <div class="row">
    <div class="col-12 resetpadmar">
      <!-- MenuSuperior -->
      <app-menu></app-menu>
    </div>
  </div>
  <!-- SideMenu -->
  <div class="row h-100 d-flex">
    <div class="col-3 col-sm-3 col-md-2 col-lg-2 col-xl-1 resetpadmar h-100" style="background-color: rgba(246, 246, 246, 0.986); 
             min-width: 100px; border-right: 1px solid rgba(0,0,0,.1);
             box-shadow: 6px 0 6px rgba(0,0,0,.1);">
      <div class="contenedorBoton">
        <div *ngFor="let modulo of modulos; let i = index;">
          <button type="button" class="btn btn-light col-12 d-flex justify-content-between mb-1 mt-1"
            (click)="actualizarRuta()" [routerLink]="[modulo.ruta]" style="font-size: 13px;">
            <span>{{modulo.nombre}}</span>
            <span>
              <fa-icon [icon]="faAngleRight"></fa-icon>
            </span>
          </button>
        </div>

      </div>
    </div>
    <div class="col-9 col-sm-9 col-md-10 col-lg-10 col-xl-11 resetpadmar d-column justify-content-center"
      style="padding: 10px; overflow:auto; max-height: 100vh;">
      <!-- Navegacion -->
      <div id="navigation" class="navigation col-12">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item" aria-current="page"><a href="/">Inicio</a></li>
            <li class="breadcrumb-item" *ngFor="let nav of navegacion"><a>{{nav | titlecase}}</a></li>
          </ol>
        </nav>
      </div>
      <!-- Contenido -->
      <div id="contenido col-12">
        <router-outlet></router-outlet>
      </div>

    </div>
  </div>
</div>



<!-- COMENTARIOS DROPDOWS ANGULAR SCHEMATICS -->
<!-- <div ngbDropdown class="btn-group dropright">
          <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false" id="dropdownConfig" ngbDropdownToggle>
            Dropright
          </button>
          <div class="dropdown-menu" ngbDropdownMenu aria-labelledby="dropdownConfig">
        
            <button ngbDropdownItem>Action - 1</button>
            <button ngbDropdownItem>Another Action</button>
            <button ngbDropdownItem>Something else is here</button>
          </div>
        </div>

        <div ngbDropdown>
          <button class="btn btn-outline-primary" id="dropdownConfig" ngbDropdownToggle>Toggle</button>
          <div ngbDropdownMenu aria-labelledby="dropdownConfig">
            <button ngbDropdownItem>Action - 1</button>
            <button ngbDropdownItem>Another Action</button>
            <button ngbDropdownItem>Something else is here</button>
          </div>
        </div> -->